.side-ber
  .header
    .header__top-items
      .header__top-items__name
        ほげ
      .header__top-items__icons
        = link_to "#", class: "header__top-items__icons__edit" do
          = icon('fas', 'edit')
        = link_to "#", class: "header__top-items__icons__cog" do
          = icon('fas', 'cog')
  .group
    .group__block
      .group__block__title
        techchamp
      .group__block__message
        まだメッセージがありません
    .group__block
      .group__block__title
        techchamp
      .group__block__message
        まだメッセージがありません
    .group__block
      .group__block__title
        techchamp
      .group__block__message
        まだメッセージがありません